@model IEnumerable<Library.Web.Models.AuthorModelView>
@using Library.Helpers.Extensions
@using Library.Helpers.Query

@{
    ViewBag.Title = "Authors";
    var queryOptions = (QueryOptions)ViewBag.QueryOptions;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.BuildSortableLink("First Name", "Index", "firstName", queryOptions)
            </th>
            <th>
                @Html.BuildSortableLink("Last Name", "Index", "lastName", queryOptions)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody data-bind="foreach: authors">
        <tr>
            <td data-bind="text: firstName"></td>
            <td data-bind="text: lastName"></td>
            <td>
                <a data-bind="attr: { href: '@Url.Action("Details")/' + id }" class="btn btn-info">Details</a>
                <a data-bind="attr: { href: '@Url.Action("Edit")/' + id }" class="btn btn-primary">Edit</a>
                <a data-bind="click: $parent.showDeleteModal, attr: { href: '@Url.Action("Delete")/' + id }"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
    @Html.BuildNextPreviousLinks(queryOptions, "Index")

</table>
@section Scripts {
    @Scripts.Render("/Scripts/ViewModels/AuthorIndexViewModel.js")
    <script>
        //function ViewModel(authors) {
        //    var self = this;
        //    self.authors = authors;
        //};
        var viewModel = new AuthorIndexViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel);


    </script>
    <script>
        @*var viewModel = new AuthorIndexViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel);*@
    </script>
}